# On ignore l'environnement virtuel 
.venv/
venv/

# On ignore les fichiers compilés Python
__pycache__/
*.pyc
*.egg-info/

# On ignore les fichiers systèmes Mac/Windows
.DS_Store

# On ignore notre clé GCP 
secrets/
*.json
*.csv
.env
